# ignore venv folder
venv/

# ignore Python bytecode files
*.pyc

# ignore environment variable files
*.env

# ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# ignore log files
*.log

# ignore __pycache__ directories
__pycache__/

# ignore IDE specific files
.idea/

# ignore .json files
*.json

# ignor word documents
*.docx

# ignore Excel files
*.xlsx
